.brand {
    display: inline-block;

    .brand-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        
        .blrg {
            margin: 0 30px 0 0;
            font-family: 'Lobster', cursive;
            text-transform: uppercase;
            font-size: 4rem;
            letter-spacing: -11px;
            color: $secondary-color;
        }
    
        .bsml {
            display: block;
            font-size: .75rem;
            font-weight: 100;
        }
    }
}