.nav {
    display: inline-block;
    margin: 20px 50px 0 0;
    font-size: 1.75rem;

    .mobile-trigger {
        display:none
    }

    .menu {
        margin: 75px 0px 0 0;
        font-size: 1rem;
        text-align: left;

        a {
            display: block;
            position: relative;
            margin: 20px 0 0;
            color: $text-color;
            text-decoration: none;

            svg {
                width:40px;
                color:$secondary-color;
                -webkit-filter: drop-shadow( 0px 0px 2px opacify($secondary-color, .4));
                filter: drop-shadow( 0px 0px 2px opacify($secondary-color, .4));
            }

            &:hover {
                svg {
                    color:$secondary-color-alt;
                    -webkit-filter: drop-shadow( 0px 0px 2px opacify($secondary-color, .8));
                    filter: drop-shadow( 0px 0px 2px opacify($secondary-color, .8));
                } 

                .hidden {
                    bottom:0;
                    opacity: 1;
                }
            }
            

            .hidden {
                position: absolute;
                bottom:-100px;
                opacity: 0;
                width: 130px;
                transition: bottom .75s, opacity 1.25s;
            }
        }
    }
}