.social {
    margin: 20px 0 0 auto;
    font-size: 1.5rem;

    a {
        color:$text-color;
        margin: 0 0 0 20px;

        &:hover {
            -webkit-filter: drop-shadow( 0px 0px 2px opacify($secondary-color, .8));
            filter: drop-shadow( 0px 0px 2px opacify($secondary-color, .8));
        }
    }
}