/******************************************
*  File : Animations.scss
*******************************************/
@keyframes beacon {
    0% {
      transform: scale(1, 1);
      opacity: 1;
    }
    100% {
      transform: scale(4, 4);
      opacity: 0;
    }
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(4px);
    }
    50% {
      transform: translateY(-16px);
    }
    100% {
      transform: translateY(4px);
    }
  }
  
  @keyframes bounce-in-left {
    0% {
      transform: translate(-10%, 0);
      opacity: 0.25;
    }
    25% {
      transform: translate(8%, 0);
      opacity: 0.65;
    }
    50% {
      transform: translate(-4%, 0);
      opacity: 0.75;
    }
    75% {
      transform: translate(2%, 0);
      opacity: 0.95;
    }
    100% {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  @keyframes collapse-horizontal {
    from {
      transform: scaleX(1);
      opacity: 0.75;
    }
    to {
      transform: scaleX(0);
      opacity: 0;
    }
  }
  
  @keyframes collapse-vertical {
    from {
      transform: scaleY(1);
      opacity: 1;
    }
    to {
      transform: scaleY(0);
      opacity: 0.25;
    }
  }
  
  @keyframes expand-horizontal {
    from {
      transform: scaleX(0);
      opacity: 0.25;
    }
    to {
      transform: scaleX(1);
      opacity: 1;
    }
  }
  
  @keyframes expand-vertical {
    from {
      transform: scaleY(0);
      opacity: 0.25;
    }
    to {
      transform: scaleY(1);
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(2, 2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
  
  @keyframes scale-in-bounce {
    0% {
      transform: scale(0, 0);
      opacity: 0.25;
    }
    25% {
      transform: scale(1.25, 1.25);
      opacity: 0.65;
    }
    50% {
      transform: scale(0.65, 0.45);
      opacity: 0.75;
    }
    75% {
      transform: scale(1.05, 0.95);
      opacity: 0.95;
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  @keyframes scale-in {
    0% {
      transform: scale(0, 0);
      opacity: 0.25;
    }
    100% {
      transform: scale(1, 1);
      opacity: 1;
    }
  }
  
  @keyframes slide-down-fade-in {
    from {
      transform: translate(0, -10%);
      opacity: 0.25;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-bottom-right {
    from {
      transform: translate(10%, 10%);
      opacity: 0.25;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-left {
    from {
      transform: translate(-10%, 0);
      opacity: 0.25;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  @keyframes slide-in-right {
    from {
      transform: translate(10%, 0);
      opacity: 0.25;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  @keyframes slide-out-right {
    from {
      transform: translate(0%, 0);
      opacity: 1;
    }
    to {
      transform: translate(10%, 0);
      opacity: 0;
    }
  }
  
  @keyframes slide-out-left {
    from {
      transform: translate(0%, 0);
      opacity: 1;
    }
    to {
      transform: translate(-10%, 0);
      opacity: 0;
    }
  }
  
  @keyframes slide-up-fade-in {
    from {
      transform: translate(0, 10%);
      opacity: 0;
    }
    to {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
  
  @keyframes slide-up-fade-out {
    from {
      transform: translate(0, 0);
      opacity: 1;
    }
    to {
      transform: translate(0, -10%);
      opacity: 0;
    }
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* Animation Mixins */
  @mixin beacon {
    animation: beacon 180ms ease-out;
  }
  @mixin bounce {
    animation: bounce 175ms ease-in-out;
  }
  @mixin bounce-in-left {
    animation: bounce-in-left 180ms ease-out;
  }
  @mixin collapse-horizontal {
    animation: collapse-horizontal 180ms ease-out;
  }
  @mixin collapse-vertical {
    animation: collapse-vertical 180ms ease-out;
  }
  @mixin expand-horizontal {
    animation: expand-horizontal 180ms ease-out;
  }
  @mixin expand-vertical {
    animation: expand-vertical 180ms ease-out;
  }
  @mixin fade-in {
    animation: fade-in 180ms ease-out;
  }
  @mixin fade-out {
    animation: fade-out 180ms ease-out forwards;
  }
  @mixin pulse {
    animation: pulse 180ms ease-out;
  }
  @mixin scale-in-bounce {
    animation: scale-in-bounce 180ms ease-out;
  }
  @mixin scale-in {
    animation: scale-in 180ms ease-out;
  }
  @mixin slide-down-fade-in {
    animation: slide-down-fade-in 180ms ease-out;
  }
  @mixin slide-in-bottom-right {
    animation: slide-in-bottom-right 180ms ease-out;
  }
  @mixin slide-in-left {
    animation: slide-in-left 180ms ease-out;
  }
  @mixin slide-in-right {
    animation: slide-in-right 180ms ease-out;
  }
  @mixin slide-out-right {
    animation: slide-out-right 180ms ease-in forwards;
  }
  @mixin slide-out-left {
    animation: slide-out-left 180ms ease-in forwards;
  }
  @mixin slide-up-fade-in {
    animation: slide-up-fade-in 180ms ease-out;
  }
  @mixin slide-up-fade-out {
    animation: slide-up-fade-out 180ms ease-out forwards;
  }
  @mixin spin {
    animation: spin 180ms ease-out;
  }
  
  /* Classes */
  
  .beacon {
    @include beacon;
  }
  .bounce {
    @include bounce;
  }
  .bounce-in-left {
    @include bounce-in-left;
  }
  .collapse-horizontal {
    @include collapse-horizontal;
  }
  .collapse-vertical {
    @include collapse-vertical;
  }
  .expand-horizontal {
    @include expand-horizontal;
  }
  .expand-vertical {
    @include expand-vertical;
  }
  .fade-in {
    @include fade-in;
  }
  .fade-out {
    @include fade-out;
  }
  .pulse {
    @include pulse;
  }
  .scale-in-bounce {
    @include scale-in-bounce;
  }
  .scale-in {
    @include scale-in;
  }
  .slide-down-fade-in {
    @include slide-down-fade-in;
  }
  .slide-in-bottom-right {
    @include slide-in-bottom-right;
  }
  .slide-in-left {
    @include slide-in-left;
  }
  .slide-in-right {
    @include slide-in-right;
  }
  .slide-out-right {
    @include slide-out-right;
  }
  .slide-out-left {
    @include slide-out-left;
  }
  .slide-up-fade-in {
    @include slide-up-fade-in;
  }
  .slide-up-fade-out {
    @include slide-up-fade-out;
  }
  .spin {
    @include spin;
  }