.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    background: $secondary-color;
    line-height: 1;
    font-weight: bold;
    padding: 18px 32px;
    border-radius: 50px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    letter-spacing: 0.1em;

    &:hover {
        -webkit-transform: translate3d(0, -5%, 0);
        transform: translate3d(0, -5%, 0);
    }
}