.about {
    font-size: 1.75rem;
    padding: 10% 8%;

    .about-content {
        display: flex;
        flex-wrap: wrap;
       
        .content-left {
            width: 55%;
            text-align: left;
            padding:0 20px;
            color:$text-color;
            
            span {
                display: block;
                margin: 40px 0 0;
                font-weight: 600;
                font-size: 4.5rem;
                color:$secondary-color;
            }

            p {
                display: block;
                margin: 20px 0;
                font-size: 1rem;

                span {
                    display: inline;
                    font-size: 1rem;
                }
            }

            .gaming {

                a {
                display: inline-block;
                margin: 0 15px 0 0;
                color: $text-color;
                font-weight: 400;
                text-decoration: none;

                &:hover {
                    -webkit-filter: drop-shadow( 0px 0px 2px opacify($secondary-color, .8));
                    filter: drop-shadow( 0px 0px 2px opacify($secondary-color, .8));
                }
            }
            }
        }

        .content-right {
            width: 40%;
            margin-left:auto
        }
    }
}