.blog {
    font-size: 1.75rem;
    padding: 10% 8%;
    text-align: left;

    span {
        display: block;
        text-align: left;
        margin: 40px 0 10px;
        font-weight: 600;
        font-size: 4.5rem;
        color:$secondary-color;
    }

    .blog-content {
        margin: 3% 0 0;
        display: flex;
        flex-wrap: wrap;

        .blog-post {

            .post-title {
                margin: 0 0 10px;
                font-size: 1.5rem;
                font-weight: 600;
                color:$secondary-color;
            }

            .post-date {
                margin: 0;
                font-size: 1rem;
                font-weight: 300;
                color:$text-color;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}