.contact {
    font-size: 1.75rem;
    padding: 10% 8%;

    .contact-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
       
        .content-left {
            text-align: left;
            padding:0 20px;
            color:$text-color;
            
            span {
                display: block;
                margin: 40px 0 0;
                font-weight: 600;
                font-size: 4.5rem;
                color:$secondary-color;
            }

            a {
                display: block;
                position: relative;
                margin: 20px 0 0;
                color: $text-color;
                font-weight: 400;
                text-decoration: none;

                &:hover {
                    -webkit-filter: drop-shadow( 0px 0px 2px opacify($secondary-color, .8));
                    filter: drop-shadow( 0px 0px 2px opacify($secondary-color, .8));
                }
            }

            .social {
                a {
                    display: inline-block;
                    margin: 0 15px 0 0;
                }
            }
        }
    }
}