.landing{
    font-size: 1.75rem;
    padding: 10% 8%;

    .landing-content {
        text-align: right;
        padding:0 20px;
        border-right: 6px solid $secondary-color;
        color:$text-color;

        span {
            display: block;
            margin: 40px 0 0;
            font-weight: 600;
            font-size: 4.5rem;
            color:$secondary-color;
        }
    }
    

    .landing-content-alt {
        margin: 10% 0 0;
        text-align: right;
        padding:0 20px;
        color:$text-color;

        .btn {
            margin-right: 20px;
        }
    }
}