.work {
    font-size: 1.75rem;
    padding: 10% 8%;
    text-align: left;

    span {
        display: block;
        text-align: left;
        margin: 40px 0 10px;
        font-weight: 600;
        font-size: 4.5rem;
        color:$secondary-color;
    }

    .btn {
        margin: 0 10px 0 0;
        padding: 10px 20px;
        font-size: 0.75rem;
        font-weight: 300;
    }

    .work-content {
        margin: 3% 0 0;
        display: flex;
        flex-wrap: wrap;

        .work-col {
            width: 48%;
            padding: 0 1%;
            text-align: left;

            .wc-title {
                font-size: 2.5rem;
                color:$secondary-color;
                font-weight: 400;
            }

            .wc-position {
                font-size: 1.5rem;
                color:$text-color;
                font-weight: 300;
            }

            p {
                display: block;
                margin: 20px 0;
                font-size: 1rem;
            }

            .skills {
                font-size: .75rem;
                font-weight: 600;

                .tag {
                    display: inline-block;
                    margin: 0 10px 5px 0;
                    font-weight: 300;
                    padding: 5px 10px;
                    border: 1px solid $secondary-color;
                    border-radius: 50px;
                }
            }
        }
    }
}