@import './scss/base/vars';
@import './scss/base/btns';
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@100;300;400;600&display=swap');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;

    #app {
        background: $primary-color;
        background: linear-gradient(180deg, rgba(24,36,48,1) 0%, rgba(19,22,27,1) 53%);
        width: 100%;
        display: flex;
        flex-wrap: no-wrap;
        align-items: stretch;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: $text-color;

        .app-content {
            width: 100%;
            
            header {
                position: absolute;
                display: flex;
                z-index: 1;
                left: 0;
                width: 98%;
                margin: 0 1%;
            }
        }
    }
}

@import './scss/components/navigation';
@import './scss/components/brand';
@import './scss/components/social';
@import './scss/components/pages/home';
@import './scss/components/pages/about';
@import './scss/components/pages/blog';
@import './scss/components/pages/work';
@import './scss/components/pages/contact';
